<!-- list.html -->

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="./styles.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghostring</title>
</head>
<body>
<article>
  <h2 class="spooky-title">Ghostring Sites</h2>
Current list of <a href="https://ghostring.neocities.org/">Ghostring</a> members:
<br>
<a href="https://ghostring.neocities.org/Ghostring.opml">[OPML link]</a>
<br><br>
  <ol class="cards">
    {% for site in sites %}
    <li class="card{% if site.website.name == featured_site_name %} card--featured{% endif %}">
    <div class="card__top">
      <header><h2>
          {{ site.website.name }}{% if site.website.name == featured_site_name %} {% endif %}
      </h2></header>
      <div class="card__links">
        <a href="{{ site.website.url }}">{{ site.website.url }}</a>
        {% if site.website.rss %} •
        <a href="{{ site.website.rss }}">[feed]</a>
        {% endif %}
      </div>
    </div>

      <div class="card__content">
        <p class="card__meta"><code class="slug">{{ site.website.slug }}</code></p>
        <p class="card__about">{{ site.website.about }}</p>
        <p class="card__owner"><strong>Contact:</strong> {{ site.website.owner }}</p>
      </div>
    </li>
    {% endfor %}
  </ol>
</article>
	<br><br>
	
	Interested? Do you have a personal website? 
	<br>
	See the <a href="https://ghostring.neocities.org/">main page</a> for information on how to add your site! 

<br><br>

<center>
<img src="https://notmerlin.com/other/horrorgifs/lines/line%20(32).gif">
</center>

<footer><small>
<p>Last updated: {{ current_time }} </p>
<p>Powered by <a href="https://github.com/k3rs3d/ringfairy">ringfairy</a>!</p>
</small></footer>
</body>
</html>
